header {
    background-color: #3300CC;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header a{
    color: white;
    padding: 10px;
    margin: 0;
}

#inicial {
    /* display: none; */
}

header>#servicos {
    width: 100%;
}

header>#logo {
    padding: 10px;
    width: 350px;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

#nav{
    background-color: black;
    color: white;
    margin: 0px;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

h2{
    text-align: center;
}

p {
    font-size: 20px;
    text-align: justify;
}

section {
    margin-left: 5%;
    margin-right: 5%;
}

a{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 300px;
    color: white;
    text-decoration: none;
}

#inicial{
    align-items: center;
}

article>img {
    width: 90%;
    height: auto;
}

li a{
    display: flex;
    color: black;
    text-align: center;
}

a>img {
    width: 25px;
}

body {
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #3300CC;
    color: white;
}

footer>img{
    padding: 10px;
    width: 250px;
    height: auto;
}

footer>p{
    font-size: 17px;
    display: flex;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}